*.jpg
*.png
*.webp
*.ignore*
tmp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*py.class

# Virtual environment
env/
venv/
ENV/
VENV/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml

# PyBuilder
target/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# dotenv environment files
.env
.env.*

# VSCode settings
.vscode/

# macOS / Windows files
.DS_Store
Thumbs.db